body.home
    //  #somediv
    #dialogWrapper
        .containerMil
            .quastions 
            .wrappercols
                .ans#ans1 
                .ans#ans2 
                .ans#ans3 
                .ans#ans4 
                // button.material Accept
        .scorewrapper  
            .scorebox 
                span#scoremessage 
        .conteinerQuest
            .quest
            button#complete Complete
            button#fail Fail
        //
        button#btn butttton
        
        .wrappercube
            .wrapbuttonsthrowcube
                button#generatecubenumber Generate
                button(id='acceptcubenumber' disabled) Accept
            .cubenumber
                span#cubenumber 0