script(src="/javascripts/jquery-3.1.0.min.js")
script(src = '/javascripts/bootstrap.min.js')
script(src = '/javascripts/block.js')
script(src = '/javascripts/map.js')
script(src = '/javascripts/player.js')
script(src = '/javascripts/score.js')
script(src = '/javascripts/dialogMilioner.js')



