body.home
    .playerBox
        .wrapper
            <input type="checkbox" class="checkbox" id="checkbox-1" />
            <label for="checkbox-1" id="randomNick" >Случайный ник</label> 
            <input type="text" class="inputPl" id="player0" name="player0" value="Player 1" size="20" placeholder="введите имя игрока"></br>